<header>
  <% if(user_id){ %>
    <form action="/logout" method="POST">
      <label for="email"><%= user.email %></label>
      <input type="submit" value="Logout">
    </form>
  <% } else{ %>
    <form action="/register" method="GET">
      <input type="submit" value="Register">
    </form>
    <form action="/login" method="GET">
      <input type="submit" value="Login">
    </form>
  <% }    %>
</header>