<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
   <% include ./partials/_header %>
</header>

<body>

    <ul>
      <!-- why is it urls? -->
      <% for(var url in urls){ %>
      <form method="POST" action="/urls/<%= url %>/delete">
      <li><a href='#'><%= url %></a> --->  <a href='#'><%= urls[url] %></a> <a href = '/urls/<%= url %>'>Edit</a> <input type="submit" value="Delete"></li><br />
      <%  };  %>
    </ul>
  </form>
</body>

</html>
