<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
   <% include ./partials/_header %>
</header>

<body>
    <ul>
      <li><a href='#'><%= shortURL %></a> : <a href='#'><%= longURL %> </a></li>
    </ul>
</body>

</html>
