<!DOCTYPE html>

<html lang="en">

  <head>
  <title>TinyApp</title>
</head>


  <body style="font-size:20px; padding:50px;">
    <form action="/register" method="POST">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email">
      <br />
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
      <br />
      <input type="submit" value="Create account">
    </form>
  </body>

</html>